* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.card {
    background-color: rgb(33, 84, 224);
    color: white;
    height: 160px;
    max-width: 260px;
    border-radius: 5px;
    font: 1rem / 1.5 sans-serif;
    margin-bottom: 20px;
    text-align: left;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.form-row {
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: rgb(22, 44, 241);
}